/*------------FUNCTION----------------*/

/*____________________________________*/

/*------------OVERALL BASICS----------*/

body {
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
  font-size: 85%;
}

.heading_01 {
  font-size: 25px;
}

.heading_02 {
  font-size: 20px;
}

.heading_03 {
  font-size: 18px;
}

.heading_04 {
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: rgba(180, 180, 180, 0.3);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.3);
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.3);
}

/*_____________________________________*/

/*------------FLEX BOX----------*/

.flex {
  display: -webkit-box;
  display: flex;
}

.flex_whole {
  display: -webkit-box;
  display: flex;
}

.justify_center {
  -webkit-box-pack: center;
          justify-content: center;
}

.justify_start {
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.justify_end {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.justify_space {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.justify_around {
  justify-content: space-around;
}

.item_grow {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.align_center {
  -webkit-box-align: center;
          align-items: center;
}

.align_bottom {
  -webkit-box-align: end;
          align-items: flex-end;
}

.align_start {
  -webkit-box-align: start;
          align-items: flex-start;
}

.align_space {
  -webkit-box-align: space-between;
          align-items: space-between;
}

.flex_direction {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

/*_____________________________________*/

/*------------MAIN LAYOUT----------*/

.container {
  width: 100vw;
  max-width: 100%;
}

.nav_bar {
  box-sizing: border-box;
  width: 90px;
  padding: 5px;
  height: 100vh;
  max-height: 100%;
  background: #8a17b0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18%, #54066e), to(#8a17b0));
  background: linear-gradient(0deg, #54066e 18%, #8a17b0 100%);
  box-shadow: 5px 0 5px rgba(100, 100, 100, 0.3);
  position: relative;
  z-index: 1;
}

.nav_option_text {
  color: #F1EFF2;
}

.nav_option_button {
  margin-bottom: 30px;
}

.main {
  position: relative;
  z-index: 0;
  height: 100vh;
  max-height: 100%;
}

/*_____________________________________*/

/*------------NAV BAR----------*/

.logo {
  margin-top: 10px;
  width: 60px;
  opacity: 0.85;
  -webkit-transition: all 0.4s ease-in-out 0.4s;
  transition: all 0.4s ease-in-out 0.4s;
}

.logo:hover {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out 0.4s;
  transition: all 0.4s ease-in-out 0.4s;
}

.nav_links {
  height: 100px;
}

.nav_option {
  width: 100%;
  color: #F1EFF2;
  font-size: 12px;
  cursor: pointer;
}

.nav_extras {
  color: #E5E3E6;
}

.polices {
  font-size: 10px;
  opacity: 0.7;
}

.nav_link {
  color: #E5E3E6;
  text-decoration: none;
}

.logout {
  margin-bottom: 20px;
  color: #F1EFF2;
  font-weight: 500;
}

/*_____________________________________*/

/*------------LEADS PAGE----------*/

.arrows {
  cursor: pointer;
}

.middle_content {
  height: 100vh;
  max-height: 100%;
}

.middle_content_profile {
  height: 100vh;
  max-height: 100%;
  overflow-y: auto;
}

.top_section {
  box-sizing: border-box;
  background-color: #F1EFF2;
  width: 100%;
  height: 130px;
  padding: 20px 40px 0 40px;
}

.month_selection {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 10px 40px 0 40px;
  margin-top: -45px;
}

.venue_name_leads {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 10px 40px 0 40px;
  margin-top: -70px;
}

.month_option {
  box-sizing: border-box;
  background-color: #F1EFF2;
  box-shadow: 1px -2px 3px rgba(134, 134, 134, 0.2);
  border-radius: 10px 10px 0 0;
  width: 100px;
  height: 45px;
  padding: 0 8px 0 8px;
}

.user_status {
  height: 50px;
}

.profile_pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FA33AA;
  margin-left: 10px;
}

.year_selection {
  width: 200px;
  height: 50px;
}

.filter_box {
  background-color: #F1EFF2;
  height: 75px;
  box-shadow: 1px -2px 3px rgba(134, 134, 134, 0.2);
}

.lead_results {
  box-sizing: border-box;
  background-color: #E5E3E6;
  width: 100%;
  height: 500px;
  overflow-y: auto;
  padding: 20px 40px 0 40px;
}

.searching {
  position: absolute;
  top: 15vh;
  height: 50vh;
  width: 50vw;
  left: 20vw;
}

.search_gif {
  width: 80px;
  opacity: 0.8;
}

.lead_info {
  position: relative;
  z-index: 0;
}

.lead_block {
  background-color: #F1EFF2;
  width: 100%;
  margin-bottom: 35px;
  height: 175px;
  box-shadow: 1px -2px 3px rgba(134, 134, 134, 0.2);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.dropped {
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  height: 325px;
}

.lead_colour_nat {
  width: 5px;
  background-color: #FA33AA;
  height: 100%;
  opacity: 0.5;
}

.save_button {
  box-sizing: border-box;
  text-align: center;
  top: 0;
  width: 30px;
  padding: 10px;
  height: 100%;
  background: #B2B0B3;
  cursor: pointer;
  color: #847e8a;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  position: relative;
  z-index: 1;
}

.save_button:hover {
  background: #8a17b0;
  color: white;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.save_text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
          text-orientation: mixed;
  font-size: 12px;
}

.show_more {
  width: 100%;
  cursor: pointer;
  margin-top: 3px;
  color: #847e8a;
  height: 25px;
}

.show_more_icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 8px;
}

.description_row {
  width: 80%;
}

.top_section_lead {
  height: 145px;
}

.bottom_section_lead {
  height: 145px;
}

.description_block {
  box-sizing: border-box;
  width: 350px;
  padding: 10px 20px 3px 20px;
  height: 160px;
  overflow-y: auto;
}

.matching_block {
  background-color: white;
  border-radius: 0 0 0 10px;
}

.bottom_match {
  background-color: rgba(255, 255, 255, 0.4);
}

.organisation_pic {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #FA33AA;
  box-shadow: 1px -2px 3px rgba(134, 134, 134, 0.2);
}

.description {
  font-size: 12px;
  color: #B2B0B3;
  margin-top: 3px;
}

.event_info {
  margin-top: 5px;
}

.event_name {
  color: #333333;
}

.match_box {
  border-right: 1px solid rgba(121, 121, 121, 0.5);
  height: 100%;
  width: 70px;
}

.score_block {
  width: 70px;
  height: 70px;
  border: 3.5px solid #FA33AA;
  border-radius: 50%;
  margin-bottom: 5px;
}

.score_block_value {
  width: 100px;
  height: 70px;
  margin-bottom: 5px;
}

.score_desc {
  padding: 10px;
  font-size: 12px;
  color: #B2B0B3;
}

.percentage_text {
  font-size: 18px;
}

.all_locations {
  overflow-y: auto;
}

.value_amount {
  font-size: 30px;
  color: rgba(250, 51, 170, 0.35);
}

.used {
  color: #fa33aa;
}

/*_____________________________________*/

/*------------LOGIN PAGE----------*/

.back_login {
  position: absolute;
  top: 30px;
  left: 5%;
  z-index: 5;
  cursor: pointer;
}

.back_button {
  width: 50px;
}

.page_heading {
  margin-bottom: 50px;
  font-size: 28px;
  color: rgba(250, 51, 170, 0.5);
  text-shadow: 0px 1px 0px #8a17b0;
}

.login_left {
  width: 35vw;
  height: 100vh;
  max-height: 100%;
  background: #8a17b0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18%, #54066e), to(#8a17b0));
  background: linear-gradient(0deg, #54066e 18%, #8a17b0 100%);
  box-shadow: 5px 0 5px rgba(100, 100, 100, 0.3);
  position: relative;
  z-index: 2;
}

.right_signup {
  background: #8a17b0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18%, #54066e), to(#8a17b0));
  background: linear-gradient(0deg, #54066e 18%, #8a17b0 100%);
}

.left_signup {
  background: #F1EFF2;
}

.login_form {
  width: 70%;
}

.logo_large {
  width: 40%;
}

textarea,
input {
  outline: none;
}

.input_login {
  box-sizing: border-box;
  color: #F1EFF2;
  border: none;
  width: 100%;
  background: none;
  border-bottom: 2px solid #F1EFF2;
  box-shadow: none;
  padding: 10px;
  font-size: 15px;
  margin-top: 15px;
}

.input_signup {
  box-sizing: border-box;
  color: #847e8a;
  border: none;
  width: 100%;
  background: none;
  border-bottom: 2px solid #B2B0B3;
  box-shadow: none;
  padding: 10px;
  font-size: 15px;
  margin-top: 15px;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F1EFF2;
  opacity: 0.6;
  /* Firefox */
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F1EFF2;
  opacity: 0.6;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F1EFF2;
  opacity: 0.6;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F1EFF2;
  opacity: 0.6;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F1EFF2;
  opacity: 0.6;
  /* Firefox */
}

.input_signup::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B2B0B3;
  opacity: 0.6;
  /* Firefox */
}

.input_signup::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B2B0B3;
  opacity: 0.6;
  /* Firefox */
}

.input_signup:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B2B0B3;
  opacity: 0.6;
  /* Firefox */
}

.input_signup::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B2B0B3;
  opacity: 0.6;
  /* Firefox */
}

.input_signup::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B2B0B3;
  opacity: 0.6;
  /* Firefox */
}

.login_buttons {
  margin-top: 30px;
}

.login_options {
  margin-top: 30px;
  padding: 0 10px 0 10px;
}

.login_button {
  box-sizing: border-box;
  background-color: #FA33AA;
  border: none;
  box-shadow: 1px -2px 3px rgba(134, 134, 134, 0.2);
  color: #F1EFF2;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 100px;
  cursor: pointer;
}

.signup_button {
  box-sizing: border-box;
  background: none;
  border: 2px solid #FA33AA;
  color: #F1EFF2;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 100px;
  cursor: pointer;
  text-decoration: none;
}

.forgot_link {
  color: #F1EFF2;
  opacity: 0.5;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.forgot_link:hover {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #E5E3E6;
}

/* Hide the browser's default checkbox */

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkbox_box {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  border: 1px solid white;
  opacity: 0.7;
}

/* On mouse-over, add a grey background color */

.checkbox:hover input ~ .checkbox_box {
  opacity: 1;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkbox_box:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.checkbox input:checked ~ .checkbox_box:after {
  display: block;
}

/* Style the checkmark/indicator */

.checkbox .checkbox_box:after {
  left: 4px;
  top: -5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*_____________________________________*/

/*------------VENUE PROFILE PAGE----------*/

.v_profile_left {
  width: 500px;
  height: 100%;
}

.v_profile_right {
  width: 500px;
  height: 100%;
}

.v_top_page {
  height: 100vh;
  width: 100%;
}

.v_profile_overview {
  width: 70%;
}

.v_user_pic {
  width: 25px;
  height: 25px;
  background-color: #FA33AA;
  border-radius: 50%;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.venue_pp {
  width: 40px;
  height: 40px;
  background-color: #8a17b0;
  border-radius: 50%;
  color: #F1EFF2;
  margin-right: 15px;
}

.v_location {
  margin-top: 20px;
}

.v_website {
  text-decoration: none;
  color: #8a17b0;
  font-weight: 600;
}

.v_users {
  margin-top: 25px;
}

.sectors {
  margin-top: 35px;
}

.v_layout_pic {
  width: 80%;
}

.v_specs {
  width: 80%;
  overflow-y: auto;
}

.v_rooms {
  width: 100%;
  margin-top: 30px;
  font-size: 70%;
}

.style_heading {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
          text-orientation: mixed;
  font-size: 12px;
}

.v_r_rooms {
  width: 200px;
}

.v_r_dims {
  width: 150px;
}

.v_r_maxh {
  width: 150px;
}

.v_r_totala {
  width: 150px;
}

.v_r_capacity {
  text-align: center;
  width: 300px;
}

.v_r_cap_num {
  width: 30px;
}

.sector_image {
  width: 20px;
  margin-right: 10px;
}

/*_____________________________________*/

/*------------USER PROFILE PAGE----------*/

.user_overview {
  width: 80%;
  margin-top: 30px;
}

.user_venues {
  width: 80vw;
  margin-top: 30px;
  overflow-x: auto;
}

.u_venue_card {
  width: 100%;
  height: 100px;
  background: #8a17b0;
  box-shadow: 3px 1px 5px rgba(100, 100, 100, 0.1);
  border-radius: 10px;
  margin-top: 40px;
  margin-right: 40px;
}

.v_card_desc {
  box-sizing: border-box;
  height: 100px;
  padding: 10px;
  border-radius: 10px 0 10px 0;
  color: #F1EFF2;
  cursor: pointer;
}

.v_card_top {
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  padding: 10px;
}

.v_all_venues {
  margin-top: 30px;
}

/*_____________________________________*/

.v_option_card {
  width: 50%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 1px 5px rgba(100, 100, 100, 0.5);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  background-color: #F1EFF2;
}

.v_option_card:hover {
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  background-color: #8a17b0;
  color: #F1EFF2;
}